$header1: 3.5rem;
$header2: 5rem;
$header3: 3.5rem;
$header4: 3rem;
$text: 2.5rem;
$gradient: linear-gradient(left, #38d39f, #38a4d3);
$background-color: #414141;
$gray-text: #2c2c2c;
$green-text: #812CCF;

@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@import 'global';
@import 'hero';
@import 'about';
@import 'gallery';
@import 'contact';
@import 'footer';

@media screen and (max-width:1194px){
  #hero{
    width: 100%;
    min-height: 95vh!important;
  }

  .hero-intro{
    margin-bottom: 5rem;
    a{
      display: inline-block;
      padding-bottom: 5rem;
    }
  }
  .hero-image{
    width: 100%!important;
    img{
      height: 100%!important;
    }
  }
  #about .about-left{
    width: 100%!important;
    img{
      width: 100%!important;
    }
  }

  #contact img{
    display: none;
  }
}


@media screen and (max-width:768px){
    .burger{
        position: relative;
        display: block;
        cursor: pointer;
        margin-right: 4rem!important;
      }
      .burger span{
        padding: 0.2rem 2rem;
        background: $gray-text;
        margin: 0.5rem 0rem;
        display: block;
        transition: all 0.5s ease;
      }
      .nav-links a{
        color: white;
        font-size: $header3;
        text-decoration: underline;
      }
      .nav-links{
        background: $background-color;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        flex-direction: column;
        align-items: center;
        transition: transform 1s ease;
      }

      .nav-open {
        transform: translateX(-100%);
      }
      .toggle .line1 {
        transform: rotateZ(45deg) translateY(300%);
        background: white;
      }
  
      .toggle .line2 {
        opacity: 0;
      }
      .toggle .line3 {
        transform: rotateZ(-45deg) translateY(-300%);
        background: white;
      }

      #hero{
        flex-direction: column!important;
        margin: 0 !important;
        width: 100%;
        min-height: 100%;
      }

      .hero-intro{
        margin-bottom: 5rem;
        a{
          display: inline-block;
          padding-bottom: 5rem;
        }
      }
      .hero-image{
        width: 100%!important;
        height: 100%!important;
        img{
          height: 100%!important;
        }
      }

      // About section
      #about{
        margin-top: -8rem;
      }

      #about .about-left{
        width: 100%!important;
        img{
          width: 100%!important;
        }
      }
      .about-text div {
        padding: 3rem 3rem;
        flex-direction: column;
        width: 100%;
     
      }
      
    // Gallery
    #gallery{
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr))!important;
      // .gallery-head{
      //   display: none;
      // }
      img{
        grid-row: auto!important;
        grid-column: auto!important;
      }
    }

    // Contact
    #contact img{
      display: none;
    }

    // Footer

    footer ul{
      order: 1;
    }
    footer h4{
      order: 2;
      text-align: center;
      padding: 1rem;
    }
    

}

// Iphone 6/7plus
@media screen and (max-width:414px){
  #about{
    margin-top: -13rem;
  }
}

// IphoneX
@media screen and (max-width:375px){
  #about{
    margin-top: -16rem;
  }
}

// Iphone SE
@media screen and (max-width:320px){
  #about{
    margin-top: -20rem;
  }
}
  


  /* style applies after or greater 1700px */
  @media screen and (min-width: 1700px){
    html{
      $header1: 4rem;
      $header2: 5.5rem;
      $header3: 4rem;
      $header4: 4rem;
      $text: 3rem;
    }
  }